.service-box {
  font-size: 15px;
  background: rgba(0, 0, 0, 0.15);
  padding: 40px 20px;
  border-radius: 10px;
  height: 100%;
}
.service-icon {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #fff;
  margin: 0 auto 20px;
  border-radius: 50%;
  color: #222;
  font-size: 40px;
}

.service-box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.service-box p:last-child {
  margin: 0;
}
