.single-speaker {
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 2px 0px 15px #ddd;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
}
.single-speaker:hover {
  box-shadow: 0 30px 70px rgba(37, 37, 37, 0.2);
  border-radius: 0;
  transition: 0.3s;
}

.rounded-circle {
  padding: 10px;
}

.single-speaker h2 {
  font-size: 20px;
  color: #262626;
  margin: 20px auto;
}
.single-speaker h2 span {
  font-size: 14px;
  background: #e91e63;
  color: #fff;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 15px;
}

.single-speaker p {
  color: #262626;
}
.single-speaker span {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.single-speaker ul {
  margin: 0;
  padding: 0;
}
.single-speaker ul li {
  list-style: none;
  float: left;
}
.single-speaker ul li a {
  display: block;
  color: #aaa;
  margin: 0 10px;
  font-size: 20px;
  transition: 0.5s;
  text-align: center;
}
.single-speaker ul li:hover a {
  color: #e91e63;
  transform: rotateY(360deg);
}
